<app-header-one></app-header-one>

<div class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Resumen de cotización</h2>
        </div>
    </div>
</div>

<section class="cart-area ptb-100">
    <div class="container">
        <form>
            <div class="cart-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Valor unitario</th>
                            <th scope="col">Personas</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of cotizacion.seleccionProvedores">
                            <td class="product-thumbnail">
                                <a routerLink="/products-details">
                                    <img src="assets/img/cotizacion_font.jpg" alt="item">
                                </a>
                            </td> 
                            
                            <td class="product-name">
                                <a routerLink="/products-details">{{item.nombre}}</a>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.costoPersona | currency: "COP ":false:"2.0"}}</span>
                            </td>

                            <td class="product-quantity">
                                <div class="input-counter">
                                   
                                    <input type="text" readonly="readonly" min="1" value="{{cotizacion.numPersonas}}">
                            
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <span class="subtotal-amount">{{item.costoPersona * cotizacion.numPersonas | currency: "COP ":false:"2.0"}}</span>

                                <!-- <a routerLink="/cart" class="remove"><i class='bx bx-trash'></i></a> -->
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cart-buttons">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-sm-7 col-md-7">
                        <!-- <a routerLink="/listing-details" class="default-btn">Descartar</a> -->
                    </div>

                    <!-- <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                        <a routerLink="/cart" class="default-btn">Update Cart</a>
                    </div> -->
                </div>
            </div>

            <div class="cart-totals">
                <h3>Total cotización</h3>

                <ul>
                    <li>Subtotal <span> {{ subtotal | currency: "COP ":false:"2.0" }}</span></li>
                    <li>IVA <span>{{ iva | currency: "COP ":false:"2.0" }}</span></li>
                    <li>Total <span>{{ total | currency: "COP ":false:"2.0" }}</span></li>
                </ul>
                <button class="btn btn-success" (click)="showSuccess(successTpl)" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
                <button type="button" (click)="cotizar()" class="default-btn success">Cotizar</button>
                <a routerLink="/" class="default-btn danger">Descartar</a>
                <ng-template #successTpl>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
               <rect x="64" y="64" style="fill:#ECEFF1;" width="384" height="384"/>
               <polygon style="fill:#CFD8DC;" points="256,296.384 448,448 448,148.672 "/>
               <path style="fill:#F44336;" d="M464,64h-16L256,215.616L64,64H48C21.504,64,0,85.504,0,112v288c0,26.496,21.504,48,48,48h16V148.672
                   l192,147.68L448,148.64V448h16c26.496,0,48-21.504,48-48V112C512,85.504,490.496,64,464,64z"/>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               </svg>
                Su cotización se está enviando por email...               
                </ng-template>
                <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>

            </div>
        </form>
    </div>
</section>