<app-header-one></app-header-one>

<div class="home-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="hero-banner banner-bg2"></div>
        <div class="hero-banner banner-bg3"></div>
        <div class="hero-banner banner-bg4"></div>
    </div>

    <div class="main-banner-content">
        <h1><span>Descubre</span> Sitios Maravillosos</h1>

        <div class="main-search-wrap">
            <form>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label><i class='bx bx-walk'></i></label>
                            <input type="text" placeholder="¿ Qué sitio quieres descubrir ?">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label><i class='bx bx-world'></i></label>
                            <select>
                                <option>Destinos</option>
                                <option>Shops</option>
                                <option>Hotels</option>
                                <option>Restaurants</option>
                                <option>Fitness</option>
                                <option>Events</option>
                                <option>Services</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>

                    <!-- Inicio calendario -->
                    <div class="col-lg-2 col-md-6 calendar-row">
                        <div class="form-group hidden calendar">
                            <div class="input-group">
                                <input name="datepicker"
                                       class="form-control"
                                       ngbDatepicker
                                       #datepicker="ngbDatepicker"
                                       [autoClose]="'outside'"
                                       (dateSelect)="onDateSelection($event)"
                                       [displayMonths]="2"
                                       [dayTemplate]="t"
                                       outsideDays="hidden"
                                       [startDate]="fromDate!">
                                <ng-template #t let-date let-focused="focused">
                                    <span class="custom-day"
                                          [class.focused]="focused"
                                          [class.range]="isRange(date)"
                                          [class.faded]="isHovered(date) || isInside(date)"
                                          (mouseenter)="hoveredDate = date"
                                          (mouseleave)="hoveredDate = null">
                                      {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group calendar_1">
                                <label class="calendar"><i class='bx bx-calendar'></i></label>
                                <input #dpFromDate
                                       class="form-control input-calendar" placeholder="Fecha de inicio"
                                       name="dpFromDate"
                                       [value]="formatter.format(fromDate)"
                                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                                       (click)="datepicker.toggle()">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 calendar-row">
                        <div class="form-group ml-2">

                            <div class="input-group calendar_2">
                                <label class="calendar"><i class='bx bx-calendar'></i></label>
                                <input #dpToDate
                                       class="form-control input-calendar" placeholder="Fecha final"
                                       name="dpToDate"
                                       [value]="formatter.format(toDate)"
                                       (input)="toDate = validateInput(toDate, dpToDate.value)"
                                       (click)="datepicker.toggle()">

                            </div>
                        </div>
                    </div>
                    <!-- fin calendario -->

                </div>

                <div class="main-search-btn">
                    <button type="submit">Buscar <i class='bx bx-search-alt'></i></button>
                </div>
            </form>
        </div>
    </div>
</div>


<section class="listing-categories-area bg-F7F9FB pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Lista de Categorías</span>
            <h2>Categorías Ecoturísticas</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-walk'></i>
                        Aventura
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bxs-wink-smile'></i>
                        Extremo
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-drink'></i>
                        Trekking
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-dumbbell'></i>
                        Caminatas
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-calendar-star'></i>
                        Familiar
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-walk'></i>
                        Grupos
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-building-house'></i>
                        Alto Nivel
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="single-listing-category">
                    <a routerLink="/listing-four">
                        <i class='bx bx-buildings'></i>
                        Pasadia
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="listing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Descubre</span>
            <h2>Destinos Populares</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-listing-box">
                    <a routerLink="/listing-details" class="listing-image">
                        <img src="assets/img/listing/img1.jpg" alt="image">
                    </a>

                    <div class="listing-badge">Open Now</div>

                    <div class="listing-content">
                        <div class="content">
                            <div class="author">
                                <img src="assets/img/user1.jpg" alt="image">
                                <span>John Smith</span>
                            </div>

                            <h3><a routerLink="/listing-details">The Goggi Restaurant</a></h3>
                            <span class="location"><i class='bx bx-map'></i> 40 Journal Square, NG USA</span>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <span class="rating-count">2 reviews</span>
                            </div>
                        </div>

                        <div class="footer-content">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="listing-option-list">
                                    <a routerLink="/" title="Find Directions"><i class='bx bx-directions'></i></a>
                                    <a routerLink="/" title="Save"><i class='bx bx-heart'></i></a>
                                    <a routerLink="/" title="On the Map"><i class='bx bx-map'></i></a>
                                </div>

                                <div class="price-level">
                                    <span data-toggle="tooltip" data-placement="top" title="Ultra Hight">
                                        <strong>$</strong>
                                        <strong>$</strong>
                                        <strong>$</strong>
                                        <strong>$</strong>
                                    </span>
                                </div>

                                <div class="listing-category">
                                    <a routerLink="/" data-toggle="tooltip" data-placement="top" title="Category">
                                        <i class='bx bx-wine'></i>
                                        Restaurant
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-process></app-process>
