<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Perfil del provedor</h4>
      <button type="button" clasmodals="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <div class="listing-review-comments">
                <div class="user-review">
                    <img src="assets/img/user1.jpg" alt="image">
                    
                    <div class="review-rating">
                        <span *ngIf="!isLodging" class="d-block sub-comment">{{name.transportadora}}</span>
                        <span *ngIf="isLodging" class="d-block sub-comment">{{name.nombre}}</span>

                    </div>

                    <span *ngIf="!isLodging" class="d-inline-block">Representante: {{name.representante}} </span>
                    <span *ngIf="isLodging" class="d-block sub-comment">{{name.direccion}}</span>
                    <p>{{name.descripcion}}</p>
                </div>
            </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Ok</button>
    </div>
</div>

  